*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightgrey;
    height: 60vh;
}

.center{
    width: 80%;
    margin: auto;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    background-color: red;
    height: 13vh;
}

.logo, .menu, .bottone{
    background-color: rgb(59, 237, 59);
}

.logo, .bottone{
    flex-basis: 15%;
}

.menu{
    flex-basis: 45%;
}

.container-text{
    background-color: orange;
    height: 47vh;
    width: 50%;
    text-align: center;
    
}

section{
    width: 100%;
    height: 30vh;
    background-color: white;
}

.section1{
    width: 100%;
    height: 30vh;
    background-color: grey;
}

.box{
    background-color: white;
    height: 30vh;
}

.picture, .picture2 {
    height: auto;
    width: 55%;  
}

.text, .text2{
    height: auto;
    width: 40%;  
}

.picture, .text2{
    background-color: lightgreen;
    
}

.text, .picture2 {
    background-color: darkgreen;
     
}