*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightgrey;
    height: 60vh;
}

.center{
    width: 80%;
    margin: auto;
}

.flex-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    background-color: red;
    height: 13vh;
}

.logo, .menu, .bottone{
    background-color: rgb(59, 237, 59);
}

.logo, .bottone{
    flex-basis: 15%;
}

.menu{
    flex-basis: 45%;
}

.container-text{
    background-color: orange;
    height: 47vh;
    width: 50%;
    text-align: center;
}

.canali-discord{
    width: 100%;
    height: 30vh;
    background-color: white;
}

.section1{
    width: 100%;
    height: 30vh;
    background-color: grey;
}

.box{
    background-color: white;
    height: 30vh;
}

.box1{
    background-color: grey;
    height: 30vh; 
}

.picture {
    height: auto;
    flex-basis: 55%;  
}

.text{
    height: auto;
    flex-basis: 40%;  
}

.picture{
    background-color: lightgreen;
    
}

.text{
    background-color: darkgreen;
     
}

.testo {
    background-color: rgb(4, 175, 4);
    height: 20vh;
    
}
.immagine {
    background-color: rgb(66, 241, 66);
    height: 20vh;
}
.testo-button {
    background-color: rgb(1, 61, 1);
    height: 20vh;
}

.row { 
    padding-top: 1%;
    background-color: grey;
    height: auto;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction:column;
}

.flex{
    display: flex;
    flex-direction: row;
}

.menu-footer{
    height: 50vh;
    
}

.colonna1{
    background-color: red;
    flex-grow: 2;
}

.colonna2{
    background-color: brown;
    flex-grow: 1;
    
}
.colonna3{
    background-color: rgb(109, 8, 8);
    flex-grow: 1;
   
}

footer{
    background-color: lightgrey;
}

.bottom-button{
    background-color: lightskyblue;
    height: 10vh;

}

.cella{
    background-color: blue;
    width: 15%;
    height: 100%;
}

footer > div:first-child{
    border-bottom: 5px solid black;
}